<section class="header row">
<div class="col-xs-12 col-lg-6 offset-lg-3 text-center">
  <h1>Biblioteca de Desafíos </h1>
  <p>En la biblioteca de desafíos podrás ver todos los desafíos disponibles a desarrollar. Configura un nuevo desafío y actívalo para comenzar a trabajar.</p>
  <% if current_user.present? %>
  <%= link_to('Editor de desafíos', challenge_index_path,:class => 'btn btn-primary') %>
  <%=link_to  'Ver tutorial sobre Blocky.', wizzar_blockly_tutorial_path, :class => 'btn btn-primary' %>
  <% end -%>
</div>
</section>

<section class="challenge challenge-library">
  <h5 class="challenge-title"><i class="fas fa-clipboard-list"></i> Biblioteca de desafíos</h5>
  <div class="row">
    <% @challenges.where(is_published: true,is_public: true).each do |challenge| %>
      <div class="col-xs-12 col-lg-6 col-xl-4">
        <div class="card" id="card">
          <div class="card-body">
            <%= link_to challenge_intro_intro_path(challenge) do %>
            <h5><%= challenge.title %></h5>
            <% end %>
            <%#= image_tag(challenge.photo, :style => 'float:right; width:200px; margin:1px') %>
            <p style="color:black" class="description"><%= challenge.description %></p>
            <p class="Nombre creador"> Creado por: <%= challenge.users_id %> </p>
            <%= link_to challenge_intro_intro_path(challenge) do %>
            <button class="btn btn-primary btn-block">Entrar al desafío</button>
            <% end -%>
          </div>
        </div>    
      </div>
    <% end %>
  </div>
</section>
<!--Proyectos activados y continuacion de las unidades -->
<section class="activados">
  <% if current_user.present? %>
    <% if current_user.projects.where(project_state_id:2).any? %>
      <section class="challenge challenge-closed">
        <h5 class="challenge-title"><i class="fa fa-folder-open"></i> Desafíos activos</h5>
        <div class="row">
          <% current_user.projects.where(project_state_id:2).each do |project| %>
            <div class="col-xs-12 col-lg-6 col-xl-4"> 
            <% if project.unit_id == 2 %>     <!-- continuacion a la unidad 2 -->       
              <%= link_to(show_units_unit_2_path(project)) do %>
                <div class="card">
                  <div class="card-body">
                    <h5><%= project.challenge.title%> <span class="badge badge-success">Activo <%= project.unit_id %>/3</span></h5>
                    <p class="description"><%= project.challenge.description%></p>
                    <p></strong> <br> comenzado el: <strong><%= project.created_at.strftime("%d-%m-%Y")%></strong></small></p>
                    <button class="btn btn-success">Continuar desafio.</button>
                  </div>
                </div>
              <% end -%>
            <% elsif project.unit_id == 3 %>            <!-- continuidad del proyecto --> 
              <%= link_to(show_units_unit_3_path(project)) do %>
                <div class="card">
                  <div class="card-body">
                    <h5><%= project.challenge.title%> <span class="badge badge-success">Activo <%= project.unit_id %>/3</span></h5>
                    <p class="description"><%= project.challenge.description%></p>
                    <p></strong> <br> comenzado el: <strong><%= project.created_at.strftime("%d-%m-%Y")%></strong></small></p>
                    <button class="btn btn-success">Continuar desafio.</button>
                  </div>
                </div>
              <% end -%>
            <% elsif project.unit_id == 1 %>            
              <%= link_to(show_units_unit_1_path(project)) do %>
                <div class="card">
                  <div class="card-body">
                    <h5><%= project.challenge.title%> <span class="badge badge-success">Activo <%= project.unit_id %>/3</span></h5>
                    <p class="description"><%= project.challenge.description%></p>
                    <p></strong> <br> comenzado el: <strong><%= project.created_at.strftime("%d-%m-%Y")%></strong></small></p>
                    <button class="btn btn-success">Continuar desafio.</button>
                  </div>
                </div>
              <% end -%>
            <% end %>
          </div>
        <% end %>
      </div>
    </section>
    <% end %>
  <% end -%>
</section>

<% if current_user.present? %>
<%if @challenges.where(is_public: false,users_id: current_user.id).any?  %>
  <section class="challenge challenge-library">
    <h5 class="challenge-title"><i class="fas fa-user-secret"></i> Desafios privados</h5>
    <div class="row">
      <% @challenges.where(is_published: true,is_public: false,users_id: current_user.id).each do |challenge| %>
        <div class="col-xs-12 col-lg-6 col-xl-4">
        <%= link_to challenge_intro_intro_path(challenge) do %>
            <div class="card">
              <div class="card-body">
                <h5><%= challenge.title %></h5>
                <%#= image_tag(challenge.photo, :style => 'float:right; width:200px; margin:1px') %>
                <p style="color:black" class="description"><%= challenge.description %></p>
                <p class="Nombre creador"> Creado por: <%= challenge.users_id %></p>
                <button class="btn btn-primary btn-block">Entrar al desafío</button>
              </div>
            </div>
          <% end %> 
        </div>
      <% end %>
    </div>
  </section>
  <% end -%>
<% end -%>
<br>
