<section class="header row">
  <div class="col-xs-12 col-lg-6 offset-lg-3 text-center">
    <h1>Nuevo desafío</h1>
    <p><%= @challenge_has_unit.unit.id %> <%= @challenge_has_unit.unit.name %></p>
  </div>
</section>

<%= form_tag(challenge_units_update_path(@challenge, @challenge_has_unit)) do %>
      <div class="form-group">
        <%= label_tag("challenge_has_unit[link_video]", "Video de la unidad:") %>
        <%= url_field_tag("challenge_has_unit[link_video]", @challenge_has_unit.link_video, :class => 'form-control', :placeholder => "http://", :required => true) %>   
      </div>
      <div class="form-group">
        <%= label_tag("challenge_has_unit[instruction]", "Instrucciones de la etapa:") %><br>
        <%= text_area_tag("challenge_has_unit[instruction]", @challenge_has_unit.instruction, :class =>"form-control") %>      
      </div>
      <div class="form-group">
        <%= label_tag("challenge_has_unit[content]", "Contenido de la unidad:") %><br>
        <%= text_area_tag("challenge_has_unit[content]", @challenge_has_unit.content, :class =>"form-control") %>      
      </div>
  <div class="col text-right">
    <% if @challenge_has_unit.unit_id == 6 %>
      <%= submit_tag('Publicar desafio', :class => 'btn btn-success') %>
    <% else %>
      <%= submit_tag('Continuar',  :class => 'btn btn-primary') %>
    <% end %>
  </div>
<%end%> 