<div class="row">
	<div class="col-xs-12 col-md-4 col-lg-3">
		<h2>
			<%= @challenge.title %>
		</h2>
		<p class="description">
			<%= @challenge.description %>
		</p>
		<div class="actions">
		  <%= link_to 'Iniciar desafío',show_units_unit_1_path(@challenge), :class => 'btn btn-success btn-block' %>
      <p></p>
      <% if current_user.present? %>
   	   <div id="fb-root"></div>
        <script async defer src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v3.2&appId=2397987237096011&autoLogAppEvents=1"></script>
        <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
      <% end -%>		  
</div>
	</div>
	<div class="col-xs-12 col-md-8 col-lg-9">
		<h5>Información del desafío</h5>
		<p><%= @challenge.introduction %></p>

		<% @challenge_has_units.where(challenge_id: @challenge.id).each do |challenge_has_unit| %>
			<div>
				<h3><%= challenge_has_unit.unit.name%></h3>
				<p><%= challenge_has_unit.instruction %></p>
			</div>
  	<% end %>	
	</div>
</div>
