<!DOCTYPE html>
<html>
  <head>
    <title>AtixLab2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light justify-content-between">
    <%= link_to dashboard_index_path do %>
      <%= image_tag "logo_atix.svg", :width => '110' %>
    <% end -%>
      
      <div class="nav">
        <a class="btn btn-outline-secondary btn-sm" href="#">Iniciar sesion</a>
        <a class="btn btn-primary btn-sm" href="#">Registrarse</a>
      </div>
    </nav>

    <div class="text-center">
      <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %>">
          <%= value %>
        </div>
      <% end %>
    </div>

    <div class="container-fluid">
      <div class="wrapper">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
